parameters:
    level: 8
    paths:
        - src
    excludePaths:
        - src/Exception
    treatPhpDocTypesAsCertain: false
    checkMissingIterableValueType: true
    checkGenericClassInNonGenericObjectType: true
    reportUnmatchedIgnoredErrors: true
